In [122]:
import pandas as pd 
import seaborn as sns

In [123]:
Customer = pd.read_csv('Customers.csv', encoding='mac_roman')
Exchange = pd.read_csv('Exchange_Rates.csv', encoding='mac_roman')
Products = pd.read_csv('Products.csv', encoding='mac_roman')
Sales = pd.read_csv('Sales.csv', encoding='mac_roman')
Stores = pd.read_csv('Stores.csv', encoding='mac_roman')

In [124]:
Customer.head()

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,5/26/1947
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,9/17/1957
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,11/19/1965

In [125]:
Exchange.head()

       Date Currency  Exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237
4  1/1/2015      GBP    0.6415

In [126]:
Products.head()

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio

In [127]:
Products["Unit Cost USD"] = Products["Unit Cost USD"].str.lstrip("$").str.replace(",", "").astype(float)
Products["Unit Price USD"] = Products["Unit Price USD"].str.lstrip("$").str.replace(",", "").astype(float)

In [128]:
Products['Profit'] = Products['Unit Price USD'] - Products['Unit Cost USD']
Products['Percent Profit'] = Products['Profit'] / Products['Unit Cost USD']

In [129]:
Sales.head(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD
5,366002,3,1/1/2016,1/12/2016,266019,0,1080,4,CAD
6,366004,1,1/1/2016,NaN,1107461,38,163,6,GBP
7,366004,2,1/1/2016,NaN,1107461,38,1529,2,GBP
8,366005,1,1/1/2016,NaN,844003,33,421,4,EUR
9,366007,1,1/1/2016,NaN,2035771,43,1617,1,USD
10,366007,2,1/1/2016,NaN,2035771,43,666,5,USD
11,366008,1,1/1/2016,NaN,759705,29,1154,9,EUR
12,366008,2,1/1/2016,NaN,759705,29,2510,1,EUR
13,366008,3,1/1/2016,NaN,759705,29,1060,5,EUR
14,366009,1,1/1/2016,NaN,254540,9,1648,1,CAD
15,366010,1,1/1/2016,1/8/2016,370077,0,618,5,CAD
16,366011,1,1/1/2016,NaN,1984985,66,128,7,USD
17,366011,2,1/1/2016,NaN,1984985,66,1638,1,USD
18,366011,3,1/1/2016,NaN,1984985,66,1634,1,USD
19,366011,4,1/1/2016,NaN,1984985,66,2392,3,USD

In [130]:
Stores.head(-1)

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,1/1/2008
1,2,Australia,Northern Territory,665.0,1/12/2008
2,3,Australia,South Australia,2000.0,1/7/2012
3,4,Australia,Tasmania,2000.0,1/1/2010
4,5,Australia,Victoria,2000.0,12/9/2015
...,...,...,...,...,...
61,62,United States,South Dakota,1120.0,6/3/2018
62,63,United States,Utah,2000.0,3/6/2008
63,64,United States,Washington DC,1330.0,1/1/2010
64,65,United States,West Virginia,1785.0,1/1/2012
65,66,United States,Wyoming,840.0,1/1/2014

In [131]:
all_dfs = [Customer, Exchange, Products, Sales, Stores]
for df in all_dfs:
    print(f"DataFrame: {df.shape[0]} rows, {df.shape[1]} columns")
    print(df.isna().sum(), "\n")

DataFrame: 15266 rows, 10 columns
CustomerKey     0
Gender          0
Name            0
City            0
State Code     10
State           0
Zip Code        0
Country         0
Continent       0
Birthday        0
dtype: int64

DataFrame: 11215 rows, 3 columns
Date        0
Currency    0
Exchange    0
dtype: int64

DataFrame: 2517 rows, 12 columns
ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
Profit            0
Percent Profit    0
dtype: int64

DataFrame: 62884 rows, 9 columns
Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

DataFrame: 67 rows, 5 columns
StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [132]:
Stores.columns

Index(['StoreKey', 'Country', 'State', 'Square Meters', 'Open Date'], dtype='object')

In [133]:
Sales_in_Store = Sales.merge(Stores, on='StoreKey', how='left')

In [134]:
Sales_in_Store.head(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Country,State,Square Meters,Open Date
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD,Canada,Nunavut,1210.0,4/4/2015
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD,Online,Online,NaN,1/1/2010
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD,Online,Online,NaN,1/1/2010
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD,Online,Online,NaN,1/1/2010
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD,Online,Online,NaN,1/1/2010
5,366002,3,1/1/2016,1/12/2016,266019,0,1080,4,CAD,Online,Online,NaN,1/1/2010
6,366004,1,1/1/2016,NaN,1107461,38,163,6,GBP,United Kingdom,Belfast,1800.0,4/4/2015
7,366004,2,1/1/2016,NaN,1107461,38,1529,2,GBP,United Kingdom,Belfast,1800.0,4/4/2015
8,366005,1,1/1/2016,NaN,844003,33,421,4,EUR,Netherlands,Friesland,1540.0,12/9/2015
9,366007,1,1/1/2016,NaN,2035771,43,1617,1,USD,United States,Alaska,1190.0,1/1/2015
10,366007,2,1/1/2016,NaN,2035771,43,666,5,USD,United States,Alaska,1190.0,1/1/2015
11,366008,1,1/1/2016,NaN,759705,29,1154,9,EUR,Italy,Enna,1000.0,1/1/2008
12,366008,2,1/1/2016,NaN,759705,29,2510,1,EUR,Italy,Enna,1000.0,1/1/2008
13,366008,3,1/1/2016,NaN,759705,29,1060,5,EUR,Italy,Enna,1000.0,1/1/2008
14,366009,1,1/1/2016,NaN,254540,9,1648,1,CAD,Canada,Northwest Territories,1500.0,3/4/2005
15,366010,1,1/1/2016,1/8/2016,370077,0,618,5,CAD,Online,Online,NaN,1/1/2010
16,366011,1,1/1/2016,NaN,1984985,66,128,7,USD,United States,Wyoming,840.0,1/1/2014
17,366011,2,1/1/2016,NaN,1984985,66,1638,1,USD,United States,Wyoming,840.0,1/1/2014
18,366011,3,1/1/2016,NaN,1984985,66,1634,1,USD,United States,Wyoming,840.0,1/1/2014
19,366011,4,1/1/2016,NaN,1984985,66,2392,3,USD,United States,Wyoming,840.0,1/1/2014

In [135]:
Sales_Store_Products = Sales_in_Store.merge(Products, on='ProductKey', how='left')

In [136]:
Products.iloc[1047]

ProductKey                                   1048
Product Name      A. Datum SLR Camera X136 Silver
Brand                                    A. Datum
Color                                      Silver
Unit Cost USD                              141.47
Unit Price USD                              427.0
SubcategoryKey                                402
Subcategory                   Digital SLR Cameras
CategoryKey                                     4
Category                   Cameras and camcorders
Profit                                     285.53
Percent Profit                           2.018308
Name: 1047, dtype: object

In [137]:
Sales_Store_Products['Profit'] = (Sales_Store_Products['Unit Price USD'] - Sales_Store_Products['Unit Cost USD']) * Sales_Store_Products['Quantity']
Sales_Store_Products['Percent Profit'] = Sales_Store_Products['Profit'] / Sales_Store_Products['Unit Cost USD']

In [138]:
Sales_Store_Products.head(20)

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Country,...,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Profit,Percent Profit
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD,Canada,...,Contoso,White,31.27,68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders,36.73,1.174608
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD,Online,...,A. Datum,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders,571.06,4.036616
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD,Online,...,Fabrikam,Black,220.64,665.94,803,Microwaves,8,Home Appliances,445.30,2.018220
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD,Online,...,Contoso,Orange,148.08,322.00,402,Digital SLR Cameras,4,Cameras and camcorders,1217.44,8.221502
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD,Online,...,Adventure Works,White,166.20,326.00,301,Laptops,3,Computers,159.80,0.961492
5,366002,3,1/1/2016,1/12/2016,266019,0,1080,4,CAD,Online,...,Contoso,Silver,214.03,646.00,402,Digital SLR Cameras,4,Cameras and camcorders,1727.88,8.073074
6,366004,1,1/1/2016,NaN,1107461,38,163,6,GBP,United Kingdom,...,Adventure Works,White,527.53,1592.20,201,Televisions,2,TV and Video,6388.02,12.109302
7,366004,2,1/1/2016,NaN,1107461,38,1529,2,GBP,United Kingdom,...,The Phone Company,Black,117.27,255.00,504,Smart phones & PDAs,5,Cell phones,275.46,2.348938
8,366005,1,1/1/2016,NaN,844003,33,421,4,EUR,Netherlands,...,Adventure Works,Silver,215.68,469.00,303,Desktops,3,Computers,1013.28,4.698071
9,366007,1,1/1/2016,NaN,2035771,43,1617,1,USD,United States,...,Contoso,Silver,26.67,57.99,602,Movie DVD,6,"Music, Movies and Audio Books",31.32,1.174353
10,366007,2,1/1/2016,NaN,2035771,43,666,5,USD,United States,...,Proseware,Black,74.96,163.00,306,"Printers, Scanners & Fax",3,Computers,440.20,5.872465
11,366008,1,1/1/2016,NaN,759705,29,1154,9,EUR,Italy,...,Fabrikam,Blue,330.66,998.00,405,Camcorders,4,Cameras and camcorders,6006.06,18.163854
12,366008,2,1/1/2016,NaN,759705,29,2510,1,EUR,Italy,...,Contoso,White,2.07,4.06,505,Cell phones Accessories,5,Cell phones,1.99,0.961353
13,366008,3,1/1/2016,NaN,759705,29,1060,5,EUR,Italy,...,A. Datum,Gold,207.74,627.00,402,Digital SLR Cameras,4,Cameras and camcorders,2096.30,10.090979
14,366009,1,1/1/2016,NaN,254540,9,1648,1,CAD,Canada,...,Contoso,Black,56.08,109.99,602,Movie DVD,6,"Music, Movies and Audio Books",53.91,0.961305
15,366010,1,1/1/2016,1/8/2016,370077,0,618,5,CAD,Online,...,Wide World Importers,Black,99.06,299.00,305,Projectors & Screens,3,Computers,999.70,10.091864
16,366011,1,1/1/2016,NaN,1984985,66,128,7,USD,United States,...,Adventure Works,Brown,73.11,143.40,201,Televisions,2,TV and Video,492.03,6.729996
17,366011,2,1/1/2016,NaN,1984985,66,1638,1,USD,United States,...,Contoso,Red,6.39,13.89,602,Movie DVD,6,"Music, Movies and Audio Books",7.50,1.173709
18,366011,3,1/1/2016,NaN,1984985,66,1634,1,USD,United States,...,Contoso,Silver,5.09,9.99,602,Movie DVD,6,"Music, Movies and Audio Books",4.90,0.962672
19,366011,4,1/1/2016,NaN,1984985,66,2392,3,USD,United States,...,Proseware,Red,197.74,429.99,807,Air Conditioners,8,Home Appliances,696.75,3.523566

In [ ]:
Sales_Store_Products.groupby(["StoreKey"])[["Profit"]].sum()#.sum().sort_values(by="Profit", ascending=False) , "Percent Profit"

              Profit
StoreKey
0         6672692.64
1          141355.64
2            9512.61
4          266371.65
5          509957.49
6          316432.48
8          723081.21
9          774757.55
10         606299.20
12         107084.53
13          88957.65
14          63591.55
15         118097.69
16         119915.80
17          92449.65
18         135077.79
19         339560.88
20         231529.12
21         234810.76
22         382421.64
23         359221.10
24         395424.75
26         164687.37
27         388878.99
28         108108.47
29         538542.06
30         562443.38
31         207888.11
32         222214.25
33         246492.50
34         261170.50
36         487021.52
37         493962.66
38         579848.10
39         521502.72
40         533056.20
41         220438.51
42         515670.61
43         741093.00
44         711002.94
45         761271.82
47         655657.70
48         622248.20
49         546494.99
50         819659.12
51         659826.29
53         696761.99
54         810300.06
55         830551.75
56         707631.60
57         784095.76
59         754702.32
61         764997.20
62         391744.34
63         484298.99
64         745283.99
65         711346.78
66         723190.21

In [140]:
Sales_Store_Products.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code,Country,...,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category,Profit,Percent Profit
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD,Canada,...,Contoso,White,31.27,68.00,406,Cameras & Camcorders Accessories,4,Cameras and camcorders,36.73,1.174608
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD,Online,...,A. Datum,Silver,141.47,427.00,402,Digital SLR Cameras,4,Cameras and camcorders,571.06,4.036616
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD,Online,...,Fabrikam,Black,220.64,665.94,803,Microwaves,8,Home Appliances,445.30,2.018220
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD,Online,...,Contoso,Orange,148.08,322.00,402,Digital SLR Cameras,4,Cameras and camcorders,1217.44,8.221502
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD,Online,...,Adventure Works,White,166.20,326.00,301,Laptops,3,Computers,159.80,0.961492